/* CSS for the pretty display demo page. */
body {
    background-color: white;
    font-family: Helvetica;
    margin: 30px 0px;
    padding:0px;
    text-align:center;
}
#container {
    width:1000px;
    margin:0px auto;
    text-align:left;
}
.code-editor {
    display: inline-block;
    height: 300px;
    width: 400px;
    border: 1px solid gray;
    margin-top: .6em;
    margin-left: 1em;
}
#structure {
    margin-right: 2em;
}

#pretty-display {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-top: .6em;
}

.editor-labels {
    text-transform: lowercase;
    font-size: .9em;
    font-weight: 400;
    color: #666;
    letter-spacing: 1px;
}
.structure-label {
    margin-left: 30px;

}
.output-label {
    margin-left: 400px;
}

.page-label {
    text-align: center;
    font-family: helvetica;
    letter-spacing: .2em;
    text-transform: lowercase;
    font-variant: small-caps;
    color: rgb(223, 252, 255);
    font-size: 2.4em;
    padding-bottom:.2em;
    margin-bottom: .7em;
    color: teal;
    border-bottom: 1px solid lightslategray;
}

footer {
    font-size: .8em;
    margin-top: 50px;
    color: #999;
    text-align: right;
    padding-right: 100px;
}

a, a:visited {
    color: #22A;
    text-decoration: none;
}
a:hover {
    color: #AAA;
}