body {
    background-color: white;
    font-family: Helvetica;
    margin: 30px 0px;
    padding:0px;
    text-align:center;
}
#container {
    width:1000px;
    margin:0px auto;
    text-align:left;
}

.code-editor {
    display: inline-block;
    height: 300px;
    width: 450px;
    border: 1px solid gray;
    margin-top: .6em;
    margin-left: 1em;
    margin-bottom: 1.6em;
}
#structure {
    margin-right: 2em;
}
#results {
    display: inline-block;
    text-transform: lowercase;
    color: #f29240;
    font-weight: 200px;
    letter-spacing: 1px;
    margin-top: .3em;
    padding: 20px;
    font-size: 1.4em
}
#run-button {
    font-size: 20px;
    border: 0px;
    height: 44px;
    margin-left: 1em;
    background-color: #f29240;
    width: 200px;
    cursor: pointer;
    color: #555;
    letter-spacing: 1px;
}
#run-button:hover {
    background-color: sandybrown;
}
#run-button:active {
    position:relative;
    top:1px;
}
#result-wrapper {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.match-fail-message {
    margin: 1em;
    margin-left: 3em;
    color: #666;
}

#remaining {

}

#var-callbacks {
    visibility: hidden;
}
.var-callbacks-show-hide {
    margin-left: 2em;
    cursor: pointer;
    padding: 2px 6px;
    background-color: #DDD;
}
.gen-test {
    border-bottom: 1px dotted gray;
}
.gen-test:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}
.test-wrapper {
    margin-top: 10px;
    border-top: 2px dashed lightslategray;
    padding-top: 10px;
    padding-left: 200px;
    margin-bottom: 50px;
}
.test-code {
    background-color: #CECECE;
    padding: 10px;
    font-family: monospace;
    width: 600px;
}
.editor-labels {
    text-transform: lowercase;
    font-size: .9em;
    font-weight: 400;
    color: #666;
    letter-spacing: 1px;
}
.structure-label {
    margin-left: 30px;

}
.code-label {
    margin-left: 660px;
}
.page-label {
    text-align: center;
    font-family: helvetica;
    letter-spacing: .2em;
    text-transform: lowercase;
    font-variant: small-caps;
    color: rgb(223, 252, 255);
    font-size: 2.4em;
    padding-bottom:.2em;
    margin-bottom: .7em;
    color: teal;
    border-bottom: 1px solid lightslategray;
}
footer {
    font-size: .8em;
    margin-top: 50px;
    color: #999;
    text-align: right;
    padding-right: 100px;
}

a, a:visited {
    color: #22A;
    text-decoration: none;
}
a:hover {
    color: #AAA;
}